@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/common-pixel");

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  /* font-family: "Common Pixel", sans-serif; */
  font-family: "VT323", monospace;
}
input,
textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}
